body{
    overflow-x: hidden;
}

#tittle-divisor{
    display: flex;
    justify-content: space-between;
}
#centerIsResponsive {
    text-align: right;
  }

.divisor{
    display: flex;
    justify-content: space-between;
}

.tittle-text{
    margin-top:15px; 
    margin-bottom:10px
}

.actions{
    width: 30px;
}

.btn-actions{
    margin-top:10px; 
    margin-bottom:10px
}

#btnAdd{
    width: 200px;
    margin-right: 10px;
}

.notes{
    gap: 1rem;
    display: grid;
    grid-auto-rows: 25rem;
    margin: 30px 20px 30px 20px;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.card-body{
    overflow:scroll;
    overflow-x: hidden;
}

#note-content{
    white-space: pre-line;
}

.card-footer{
    display: flex;
    justify-content: space-between;
}

#btn-reminder{
    border: none;
    border-radius: 30px;
}

#navbarNav{
    padding-right: 25px;
}

#blocked{
   display: flex;
   justify-content: center;
   align-items: center;
}

@media (max-width: 990px) {
    #centerIsResponsive {
      text-align: center;
      width: 100%;
    }

    #centerText{
        text-align: center;
    }

    #navbarNav{
        padding-right: 0;
    }

    #btnAdd{
        width: 50%;
        font-size: 11px;
        margin-right: 10px;
    }
}