body{
    
}

#tittle-divisor{
    display: flex;
    justify-content: space-between;
}

.divisor{
    display: flex;
    justify-content: space-between;
}

.tittle-text{
    margin-top:15px; 
    margin-bottom:10px
}

.actions{
    width: 30px;
}

.btn-actions{
    margin-top:10px; 
    margin-bottom:10px
}

.addNote{
    width:200px;
}

.notes{
    gap: 1rem;
    display: grid;
    grid-auto-rows: 25rem;
    margin: 30px 20px 30px 20px;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.card-body{
    overflow:scroll;
    overflow-x: hidden;
}

#note-content{
    white-space: pre-line;
}

.card-footer{
    display: flex;
    justify-content: space-between;
}

#btn-favorite{
    border: none;
    border-radius: 30px;
}

@media (max-width: 990px) {
    #centerIsResponsive {
      text-align: center;
      width: 100%;
    }

    #plus-icon{
        display: none;
    }
}