

#btn-search{
    
}

#tittle-divisor{
    display: flex;
    justify-content: space-between;
}

.divisor{
    display: flex;
    justify-content: space-between;
}

.tittle-text{
    margin-top:15px; 
    margin-bottom:10px
}

.actions{
    width: 30px;
}

.btn-actions{
    margin-top:10px; 
    margin-bottom:10px
}

.addNote{
    width:200px;
}

.notes{
    gap: 1rem;
    display: grid;
    grid-auto-rows: 22rem;
    margin: 30px 20px 30px 20px;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.card-footer{
    display: flex;
    justify-content: space-between;
}

#btn-favorite{
    border: none;
    border-radius: 30px;
}

@media screen and(min-width: ≥576px){
}