body{
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 15px;
    max-height: 100vh;
    flex-direction:column; 
}

#navbarNav{
    padding-right: 25px;
}


.perfil {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .perfil-info {
    align-items: center;
    margin: 0px 50px 0px 50px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    border:  solid 1px black;
  }
  
  .perfil-img {
    justify-content: center;
    text-align: center;
    border:  solid 1px black;
  }
  
  .perfil-img img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 50%;
    border:  solid 1px black;
  }

  .perfil-img p {
    margin: 10px;
    padding: 5px;
  }

  #btn-genText{
    text-decoration: none;
    justify-content: center;
  }

  .divider{
    display: flex;
    justify-content: space-between;
  }


#footer{
    margin-top:auto;
}

@media (max-width: 990px) {
    #centerIsResponsive {
      text-align: center;
      width: 100%;
    }

    #centerText{
        text-align: center;
    }

    #plus-icon{
        display: none;
    }

    #navbarNav{
        padding-right: 0;
    }

    #ctn-card{
      margin-top: 40px;
    }

    #main{
      overflow: hidden;
    }

    #img{
      width: 70px !important;
    }

    #text-cont{
      font-size: 10px;
    }

    #info-cont{
      width: auto;
      gap: 10px;
    }

    #btn-key{
      width: auto;
      font-size: 10px;
      padding: 5px;
    }

    #btn-editProfile{
      width: auto;
      font-size: 10px;
      padding: 5px;
    }
}

