<!-- Modal -->
<div class="modal fade" id="addKey" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Añadir llave secreta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form action="/profile/secretKey" method="POST">
            <label class="form-label">Llave:</i></label>
             <div class="input-group">
                    <input id="key" type="text" name="key" class="form-control">
                    <button id="copy" type="button" class="input-group-text"><i class="bi bi-clipboard"></i></button>
              </div>
            <button id="keyBtn" type="button" class="btn btn-link p-1 mt-3" style="text-decoration: none;">Generar</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-success">Añadir</button>
      </div>
      </form>
    </div>
  </div>
</div>