<div class="container d-flex flex-column">
    <div id="sec-div" class="row align-items-center justify-content-center g-0">
        <div class="col-12 col-md-8 col-lg-4 border-top border-3 border-primary">
            <div class="card shadow-sm">
                <div id="body" class="card-body">
                    <div class="mb-4">
                        <h5>Cambiar contraseña</h5>
                        <p class="mb-2">Ingrese su nueva contraseña y luego confirma tu contraseña
                        </p>
                    </div>
                    <form action="/new_password" method="POST">
                        <div class="mb-3">
                            <input type="hidden" value="{{token}}" class="form-control" name="token" readonly>
                            <label for="" class="form-label">Nueva contraseña:</label>
                            <input type="password" class="form-control" name="password" >
                            <label for="" class="form-label">Confirmar contraseña:</label>
                            <input type="password" class="form-control" name="confPass" >
                        </div>
                        <div class="mb-3 d-grid">
                            <button type="submit" class="btn btn-primary">
                                Enviar
                            </button>
                        </div>
                        <span> Aún to tiene una cuenta? <a href="/signup">Registrate</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>