
<div class="box mt-4">
  <div class="divisor">

    <div class="container-fluid" style="">
      <form class="d-flex" role="search">
        <div class="input-group">
          <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
          <button class="input-group-text"><i class="bi bi-search"></i></button>
        </div>
      </form>
    </div>

    <div class="addNote">
        <button class="btn btn-success">Nueva nota <i class="bi bi-plus"></i></button>
    </div>

  </div>
</div>


<div class="notes">

  <div class="card">
    <div id="tittle-divisor" class="card-header">
      <div class="tittle">
        <p class="tittle-text fw-bold">TITULO DE LA TARJETA CON MAS TEXTO</p>
      </div>
      <div class="actions">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              <i style="font-size: 18px;" class="bi bi-sliders"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square"></i> Editar</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-trash-fill"></i> Eliminar</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <h5>Categoria:</h5>
      <p class="card-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Neque consequuntur aliquam eaque voluptatibus quod porro culpa. 
        Quaerat assumenda ut nemo ipsam culpa.
      </p>
    </div>
  </div>

  <div class="card">
    <div id="tittle-divisor" class="card-header">
      <div class="tittle">
        <p class="tittle-text fw-bold">TITULO DE LA TARJETA CON MAS TEXTO</p>
      </div>
      <div class="actions">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              <i style="font-size: 18px;" class="bi bi-sliders"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square"></i> Editar</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-trash-fill"></i> Eliminar</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <h5>Categoria:</h5>
      <p class="card-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Neque consequuntur aliquam eaque voluptatibus quod porro culpa. 
        Quaerat assumenda ut nemo ipsam culpa.
      </p>
    </div>
  </div>

  <div class="card">
    <div id="tittle-divisor" class="card-header">
      <div class="tittle">
        <p class="tittle-text fw-bold">TITULO DE LA TARJETA CON MAS TEXTO</p>
      </div>
      <div class="actions">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              <i style="font-size: 18px;" class="bi bi-sliders"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square"></i> Editar</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-trash-fill"></i> Eliminar</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <h5>Categoria:</h5>
      <p class="card-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Neque consequuntur aliquam eaque voluptatibus quod porro culpa. 
        Quaerat assumenda ut nemo ipsam culpa.
      </p>
    </div>
  </div>

  <div class="card">
    <div id="tittle-divisor" class="card-header">
      <div class="tittle">
        <p class="tittle-text fw-bold">TITULO DE LA TARJETA CON MAS TEXTO</p>
      </div>
      <div class="actions">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              <i style="font-size: 18px;" class="bi bi-sliders"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square"></i> Editar</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-trash-fill"></i> Eliminar</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <h5>Categoria:</h5>
      <p class="card-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Neque consequuntur aliquam eaque voluptatibus quod porro culpa. 
        Quaerat assumenda ut nemo ipsam culpa.
      </p>
    </div>
  </div>

  <div class="card">
    <div id="tittle-divisor" class="card-header">
      <div class="tittle">
        <p class="tittle-text fw-bold">TITULO DE LA TARJETA CON MAS TEXTO</p>
      </div>
      <div class="actions">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              <i style="font-size: 18px;" class="bi bi-sliders"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square"></i> Editar</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-trash-fill"></i> Eliminar</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <h5>Categoria:</h5>
      <p class="card-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Neque consequuntur aliquam eaque voluptatibus quod porro culpa. 
        Quaerat assumenda ut nemo ipsam culpa.
      </p>
    </div>
  </div>

</div>