<div class="container mb-3">
    <div class="row justify-content-center" style="margin-top: 5rem;">
        <div class="col-ms-8 col-md-6 col-lg-4 rounded p-4 shadow" style="background-color: #F7F7F7;">
        
            <form action="" method="POST">
                <div class="mb-4">
                    <label class="form-label">Usuario:</label>
                    <input name="user" type="text" class="form-control" placeholder="Ingrese un usuario" id="user">
                    <label class="form-label">Nombres:</label>
                    <input name="names" type="text"  class="form-control" placeholder="Ingrese sus nombres" id="names">
                    <label class="form-label">Apellidos:</label>
                    <input name="lastnames" type="text" class="form-control" placeholder="Ingrese sus apellidos" id="lastnames">
                    <label class="form-label">Correo:</label>
                    <input name="email" type="email" class="form-control" placeholder="Ingrese un correo electronico" id="email">
                    <label class="form-label">Telefono:</label>
                    <input name="phone" type="text" class="form-control" placeholder="Ingrese su numero" id="phone">
                </div>
                <div class="mb-4">
                    <button type="submit" class="btn btn-dark w-100">Registrarme</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>