<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bi/font/bootstrap-icons.css">
    <titulo>{{title}}</titulo>
</head>
<body>
    <div class="container mt-5 d-flex flex-column justify-content-center align-items-center">
        <h1>Ops!</h1>
        <br>
        <img src="../../public/images/404.png" alt="page404" style="height: 400px; width: 50%">
        <h3 class="mt-1">{{description}}</h3>

        <a class="btn btn-secondary mt-1" href="/auth"><i class="bi bi-house-door-fill"></i> Volvamos a tus notas</a>
    </div>
</body>
</html>