<!DOCTYPE html>
<html lang="en">
<head>
    {{>notesHead}}
</head>
<body>
    {{>mainNavBar}}
    {{!< notes}}
    {{>home}}
    {{>decrypForm}}
    {{>addNoteForm}}
</body>
    <script src="/public/scripts/notes.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</html>